.banner{
    text-align: center;
    text-decoration-line: underline;
    bottom: 0;
    height: 15em;
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 2.5%;
}

.intro{
    text-align: center;
}

#welcome{
    text-decoration-line: underline;    
}

.form{
    text-align: center;
}

.form-inline{
    margin-left: 38%;
    position:absolute;
}